<% content_for :title do %>About<% end %>
<h3>About Kirti Thorat</h3>
<p>She was born in Waikikamukau, New Zealand. She left New Zealand for England, excelled
at the University of Mopery, and served in the Royal Loamshire Regiment. While in
service, she invented the kanuten valve used in the processing of unobtainium for
industrial use. She founded Acme Manufacturing, later acquired by the Advent
Corporation, to commercialize the product. Ms. Thorat is now retired and lives in
Middlehampton where she raises Griadium frieda.</p>
<p>Her favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua.</p>